<%- include('../partials/header') %>

    <main class="main pt-3" id="horrorMain">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 row-colds-lg-4 g-4">
                <% data.forEach(movies => { %>
                    <div class="col">
                        <div class="card card card-horror ">
                            <div class="card-header">
                                <div class="card-title text-danger">
                                    <a href="/<%= path %>/<%= movies.id %>" class="movie-link text-uppercase">
                                        <%= movies.title %>
                                    </a>
                                </div>
                            </div>
                            <img src="<%= movies.posterURL %>" alt="<%= movies.title %>" class="card-img-top" /> 
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </main>

<%- include('../partials/footer') %>